*{
    margin: 0;
    padding: 0;
}



h1{
    font-size: 80px;
    font-weight: 200;
    font-family: 'Zen Loop', cursive ;
}

h2{
    font-size: 60px;
    font-weight: 200;
    font-family: 'Zen Loop', cursive ;
}

h3{
    font-size: 40px;
    font-weight: 200;
    font-family: 'Zen Loop', cursive ;
}

p{
    font-family: 'Nanum Gothic', sans-serif;
}

h4{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Zen Loop', cursive ;
}

.Zen{
    font-family: 'Zen Loop', cursive ;
    
}


.Nanum{
    font-family: 'Nanum Gothic', sans-serif;
}