
/* === HEADER/HERO FORSIDE === */

.header-forside{
    height: 820px;
    background-image: url("/assets/image_00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;

}

.header-forside:before{
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 820px;
    width: 100%;
    background-color: #34626C80;
   
}

.header-forside>.navigation>nav>img{
    opacity: 0;
    
}


.hero-forside>li{
    position: absolute;
    list-style: none;   
    text-align: center;
    width: 100%;
    margin-top: 147px;
}

.hero-forside>li>img{
    width: 88px;
    margin-bottom: 20px;
}

.hero-forside>li>button{
    margin-top: 25px;
    background-color: #ffffff00;
    width: 245px;
    height: 104px;
    color: white;
    border: white 1px solid;
    border-radius: 50px 0px 50px 0px;
    
}

.hero-forside>li>button:hover{
    background-color: #34626C;
   
}




/* ==== Header ophold ==== */


.header-ophold{
    height: 455px;
    width: 100%;
    background-image: url("/assets/image_01.jpg");
    background-repeat: no-repeat;
    background-size:  790px;
    background-position: right;
    
}

.header-ophold::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 455px;
    width: 100%;
    background-color: #34626C80;
}

.ophold-hero{
    text-align: center;
    color: white;
    position: relative;
    margin-top: 130px;
}

@media only screen and (min-width:1024px){
    .header-ophold{
        background-position: center;
        background-size: cover;
    }

}


/* ==== Header aktiviteter ==== */



.header-aktiviteter{
    height: 455px;
    width: 100%;
    background-repeat: no-repeat;
    background-image:  url("/assets/image_04.jpg");

/* Skal ændres for responsivitet ved et breakpoint inden tablet */

    background-size: 1300px; /* This will make the image cover the entire container */
    background-position: -710px; /* This centers the image both vertically and horizontally */
    
}

@media only screen and (min-width:588px){
    .header-aktiviteter{
        background-size: 1500px;
        background-position: right;
    }
    
}

@media only screen and (min-width:768px){
    .header-aktiviteter{
        background-size: 1800px;
    }
}

@media only screen and (min-width:1440px){
    .header-aktiviteter{
        background-size: cover;
        background-position: center;
    }
}

.aktiviteter-hero>h1{
    text-align: center;
    color: white;
    position: relative;
    margin-top: 130px;
    
}


.header-aktiviteter:before{
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 455px;
    width: 100%;
    background-color: #34626C80;
   
}




